html {
  box-sizing: border-box;
  font-size: 62.5%;
}
html *,
html *:before,
html *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  position: relative;
}

h1 {
  margin: 20px auto 40px;
  font-size: 40px;
  color: #00b4cc;
}

h2 {
  margin: 20px 0;
  font-size: 30px;
}

.app-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 409px) {
  h1 {
    font-size: 30px;
  }
}
